.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.vertical-separator {
    width: 100%;
    border-top: 1px solid #111111;
    border-bottom: 1px solid #333333;
}

.horizontal-separator {
    height: 100%;
    float: left;
    border-left: 1px solid #111111;
    border-right: 1px solid #333333;
}

.main-content {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.panel-top {
    position: relative;
    width: 100%;
    height: 50px;
    /*background-color: blueviolet;*/
    /*background-color: #1e1e1e;*/
}

.panel-main {
    position: relative;
    width: 100%;
    height: calc(100% - 52px);
}

.nav-tree-container, .tab-container {
    float: left;
}

.nav-tree-container {
    position: relative;
    margin: 0;
    height: 100%;
    width: 300px;
    padding: 15px;
    overflow: auto;
    white-space: nowrap;
    /*background-color: #3CABA4;*/
    /*background-color: #1e1e1e;*/
    /*color: #909E9E;*/
}

.nav-tree-container ~ .form-control.input {
    width: 90%;
    margin: auto;
    margin-top: 15px;
}

.form-control.input {
    border: 0;
}

treecontrol ul {
    overflow: inherit;
}

.tab-container {
    position: relative;
    margin: 0;
    height: 100%;
    width: calc(100% - 302px);
    overflow: hidden;
    /*background-color: #31708f;*/
    /*background-color: #1e1e1e;*/
}

.header-tabs-container {
    position: relative;
    width: 100%;
    height: 30px;
    /*background-color: rgba(0,0,0,.25);*/
}

.body-tabs-container {
    position: relative;
    width: 100%;
    height: calc(100% - 30px);
    /*background-color: #8a6d3b;*/
    /*background-color: #272822;*/
}

.header-tabs {
    position: relative;
    width: 100%;
    height: 100%;
    /*background-color: #dcdcdc;*/
    -webkit-user-select: none;
    user-select: none;
    font: normal 11px/15px Helvetica Neue,Arial,sans-serif;
    font-size: 13px;
    /*color: #ddd;*/
}

.tab {
    padding-left: 12px;
    padding-right: 12px;
    line-height: 2;
    height: calc(100% - 3px);
    float: left;
    margin-top: 3px;
    cursor: pointer;
    /*background-color: #2E2E2E;*/
}

.close-img {
    margin-left: 2px;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.tab.active-tab {
    /*background-color: #404040;*/
}

.tab:hover > .close-img,
.tab.active-tab > .close-img {
    opacity: 1;
}

.view-panel {
    position: relative;
    /*width: 100%;*/
    height: 49px;
    /*background-color: #404040;*/
    border-bottom: 1px solid #2E2E2E;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}

.view-panel .btn-group>.btn:first-child,
.view-panel > .btn {
    margin-left: 4px;
}

.view-panel .dropdown-menu>li>a {
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.firepad {
    position: relative;
    width: 100%;
    height: 100%;
}

.pipeline-container,
.code-editor {
    position: relative;
    width: 100%;
    height: calc(100% - 50px);
    font-size: 14px;
    /*height: 900px;*/
}

.pipeline-container {
    font-size: 12px;
}

.immediate-editor {
    position: relative;
    width: 100%;
    height: calc(100% - 350px);
    font-size: 14px;
    /*height: 900px;*/
}

.immediate-results {
    position: relative;
    width: 100%;
    height: 298px;
    padding: 5px;
}

.immediate-results > .menu {
    width: 100%;
    height: 34px;
}

.immediate-results > .results {
    width: 100%;
    height: calc(100% - 34px);
    padding: 10px;
}

.pipeline-container > .nodes,
.pipeline-container > .connections {
    position: absolute;
    width: 100%;
    height: 100%;
}

.pipeline-container .node-box.moving {
    cursor: move;
}

.pipeline-container .node-box {
    /*width: 100px;*/
    min-width: 120px;
    /*height: 160px;*/
    position: absolute;
    background-color: rgba(19,21,22,0.5);
    -webkit-user-select: none;
    user-select: none;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
    cursor: default;
}

.pipeline-container .node-box > .title {
    text-align: center;
    margin-bottom: 5px;
}

.pipeline-container .ion-information-circled,
.pipeline-container .icon.ion-trash-a  {
    float: right;
    font-size: larger;
    line-height: 1;
    cursor: pointer;
    margin-left: 3px;
}

.pipeline-container .io-row > .io-cell {
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.pipeline-container .io-row > .io-cell:first-child {
    float: left;
    margin-right: 25px;
}

.pipeline-container .io-row > .io-cell:last-child {
    float: right;
}

.pipeline-container .io-cell > .circle {
    border-radius: 100%;
    background-color: #17526F;
    width: 9px;
    height: 9px;
}

.io-cell.preceding > .circle,
.io-cell.succeeding > .circle {
    background-color: #a7761e;
}

.io-cell.preceding > span,
.io-cell.succeeding > span {
    font-style: italic;
}

.pipeline-container .io-cell:first-child > .circle {
    float: left;
    margin-right: 10px;
}

.pipeline-container .io-cell:last-child > .circle {
    float: right;
    margin-left: 10px;
}

.pipeline-container .io-row > .io-cell.add-inout {
    width: 100%;
    margin-right: 0px;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
}

.pipeline-container .io-row > .io-cell.add-inout > .ion-android-add-circle {
    font-size: large;
    color: #2f6951;
    margin-right: 8px;
}

.pipelinenode-options > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    user-select: none;
    font-size: 12px;
}

.popover-content {
    padding: 0;
}

.pipelinenode-options > ul li {
    text-align: center;
    border-top: 1px solid #ccc;
    padding-top: 3px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.pipelinenode-options > ul li:first-child {
    border: none;
    padding-top: 4px;
}

.pipelinenode-options > ul li:hover {
    cursor: pointer;
}

.overlay {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: auto;
}

/*.insert-inputs > select {
    width: 140px;
    float: left;
}

.insert-inputs > input {
    width: calc(100% - 160px);
    float: right;
}

.insert-inputs {
    margin-bottom: 10px;
}
*/

.insert-inputs {
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    margin-bottom: 10px;
}

.insert-inputs > .name {
    margin-right: 5px;
    flex: 1;
}

.insert-inputs > .type {
    width: 140px;
    margin-right: 10px;
}

.insert-inputs > .value {
    flex: 6 4;
}

.btn.read-write {
    background-color: #497f15;
    color: #e6f6da;
    opacity: 0.8;
    margin-left: 20px;
}

.btn.read-only {
    background-color: #7f6615;
    color: #f6f0da;
    opacity: 0.8;
    margin-left: 20px;
}

::-webkit-scrollbar,::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment,::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 0;
    background-color: #222222;
}

::-webkit-scrollbar-track-piece,::-webkit-scrollbar-track-piece {
    /*margin: 10px 0;*/
    -webkit-border-radius: 0;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    /*background-color: rgba(0,0,0,0.12);*/
    background-color: #404040;
    -webkit-border-radius: 4px;
}

::-webkit-scrollbar-thumb:horizontal,::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    /*background-color: rgba(0,0,0,0.12);*/
    background-color: #404040;
    -webkit-border-radius: 4px;
}

::-webkit-scrollbar-corner {
    background-color: #222222;
}