html, body {
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
}

.container.main {
    background-color: white;
    border: 1px solid #dadada;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.main-header {
    font-size: 42px;
}

.option-header {
    margin: 40px 0 20px;
}

.submit-button {
    margin-top: 40px;
}