<div class="view-panel code-panel">
    <!-- TODO REFACTOR EXTRACT-->
    <div class="btn btn-default" data-ng-disabled="!data.id" data-ng-click="saveInterface()">Save</div>
    <div class="btn btn-default" data-ng-click="saveInterfaceAs()">Save As</div>
    <div class="btn btn-default" data-ng-disabled="!data.id" data-ng-click="deleteInterface()">Delete</div>
    <div class="btn-group">
        <label class="btn btn-default" ng-model="visibleEditor" uib-btn-radio="0">HTML</label>
        <label class="btn btn-default" ng-model="visibleEditor" uib-btn-radio="1">JS</label>
        <label class="btn btn-default" ng-model="visibleEditor" uib-btn-radio="2">CSS</label>
        <label class="btn btn-default" ng-model="visibleEditor" uib-btn-radio="3">Interface</label>
    </div>
    <span ng-if="hashes" class="space-between">Version:</span>
    <select ng-if="hashes" class="form-control input value" ng-options="hash for hash in hashes" ng-model="$parent.currentHash" ng-change="changeHash()">
    </select>
    <div class="btn read-only" ng-show="currentHash && currentHash != hashes[0]" disabled="disabled">Read Only</div>
</div>
<div class="code-editor" style="opacity: 0.8;" ui-ace="oldCodeAceOptions[0]" ng-model="oldCode[0]" ng-show="currentHash && currentHash != hashes[0] && visibleEditor == 0"></div>
<div class="code-editor" style="opacity: 0.8;" ui-ace="oldCodeAceOptions[1]" ng-model="oldCode[1]" ng-show="currentHash && currentHash != hashes[0] && visibleEditor == 1"></div>
<div class="code-editor" style="opacity: 0.8;" ui-ace="oldCodeAceOptions[2]" ng-model="oldCode[2]" ng-show="currentHash && currentHash != hashes[0] && visibleEditor == 2"></div>
<div class="code-editor" ui-ace="aceOptions[0]" ng-model="code[0]" ng-hide="(currentHash && currentHash != hashes[0]) || visibleEditor != 0"></div>
<div class="code-editor" ui-ace="aceOptions[1]" ng-model="code[1]" ng-hide="(currentHash && currentHash != hashes[0]) || visibleEditor != 1"></div>
<div class="code-editor" ui-ace="aceOptions[2]" ng-model="code[2]" ng-hide="(currentHash && currentHash != hashes[0]) || visibleEditor != 2"></div>
<div ng-if="visibleEditor == 3">
    <iframe src="interface-frame.html" frameborder="0"></iframe>
</div>
