<div class="view-panel pipeline-panel">
    <!-- TODO REFACTOR EXTRACT-->
    <div class="btn btn-default" data-ng-disabled="!data.id" data-ng-click="savePipeline()">Save</div>
    <div class="btn btn-default" data-ng-click="savePipelineAs()">Save as</div>
    <div class="btn btn-default" data-ng-disabled="!data.id" data-ng-click="deletePipeline()">Delete</div>
    <div class="btn btn-default" data-ng-disabled="!data.id" data-ng-click="runPipeline()">Run Pipeline</div>
    <script type="text/ng-template" id="saveAsModal.html">
        <div class="modal-header">
            <h3>Save as</h3>
        </div>
        <div class="modal-body form-group">
            <!-- <input type="text" data-ng-model="saveLocation" class="form-control"> -->
            <div class="nav-tree-container" style="float: none; height: 300px; width: 90%; margin: auto; border-radius: 4px">
                <treecontrol
                    class="tree-dark"
                    tree-model="treeDirs"
                    options="treeOptions"
                    selected-node="selectedNode"
                    filter-expression="onlyDirs"
                    >
                    {{node.name}}
                </treecontrol>
            </div>
            <input type="text" class="form-control input" data-ng-model="filename" placeholder="File name" />
        </div>
        <div class="modal-footer">
            <button class='btn btn-default' data-ng-click="$close([selectedNode.id, filename])">Save</button>
            <button class='btn btn-default' data-ng-click="$dismiss('Canceled')">Cancel</button>
        </div>
    </script>
    <script type="text/ng-template" id="deleteModal.html">
        <div class="modal-header">
            <h3>Delete Pipeline {{data.name}}</h3>
        </div>
        <div class="modal-body">
            <p>This action cannot be undone.</p>
        </div>
        <div class="modal-footer">
            <button class='btn btn-danger' data-ng-click="$close()">Delete</button>
            <button class='btn btn-default' data-ng-click="$dismiss('Canceled')">Cancel</button>
        </div>
    </script>
</div>
<div class="pipeline-container">
    <div class="connections"></div>
    <div class="nodes" data-ui-on-drop="dropHandler($event, $data)">
        <div class="node-box" ng-repeat="nodeInfo in shapes" ng-mousedown="startMoving($event, null, nodeInfo);">
            <div class="title"><span>{{nodeInfo.title}}</span></div>
            <div class="inputs_outputs">
                <div class="io-row clearfix" ng-repeat="input in nodeInfo.inputs | limitTo:min(nodeInfo.inputs.length, nodeInfo.outputs.length)">
                    <div class="io-cell">
                        <div class="circle end" ng-mousedown="createEndingConnection($event, input)" ng-mouseup="finishStartingConnection($event, input)"></div>
                        <span>{{input.name}}</span>
                    </div>
                    <div class="io-cell">
                        <span>{{nodeInfo.outputs[$index].name}}</span>
                        <div class="circle start" ng-mousedown="createStartingConnection($event, nodeInfo.outputs[$index])" ng-mouseup="finishEndingConnection($event, nodeInfo.outputs[$index])"></div>
                    </div>
                </div>
                <div class="io-row clearfix" ng-repeat="input in nodeInfo.inputs | limitTo:nodeInfo.inputs.length:min(nodeInfo.inputs.length, nodeInfo.outputs.length)">
                    <div class="io-cell">
                        <div class="circle end" ng-mousedown="createEndingConnection($event, input)" ng-mouseup="finishStartingConnection($event, input)"></div>
                        <span>{{input.name}}</span>
                    </div>
                    <div class="io-cell"></div>
                </div>
                <div class="io-row clearfix" ng-repeat="output in nodeInfo.outputs | limitTo:nodeInfo.outputs.length:min(nodeInfo.inputs.length, nodeInfo.outputs.length)">
                    <div class="io-cell"></div>
                    <div class="io-cell">
                        <span>{{output.name}}</span>
                        <div class="circle start" ng-mousedown="createStartingConnection($event, output)" ng-mouseup="finishEndingConnection($event, output)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>