<div class="view-panel pipeline-panel">
    <!-- TODO REFACTOR EXTRACT-->
    <div class="btn btn-default" data-ng-disabled="!data.id || permission != 'read_write'" data-ng-click="savePipeline()">Save</div>
    <div class="btn btn-default" data-ng-click="savePipelineAs()">Save As</div>
    <div class="btn btn-default" data-ng-disabled="!data.id || permission != 'read_write'" data-ng-click="deletePipeline()">Delete</div>
    <div class="btn btn-default" data-ng-disabled="!data.id" data-ng-click="runPipeline()">Run Pipeline</div>
    <div class="btn-group" uib-dropdown>
        <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
            Add Node <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li role="menuitem" data-ng-click="addNode('Open Model')"><a>Open Model</a></li>
            <li role="menuitem" data-ng-click="addNode('Close Model')"><a>Close Model</a></li>
            <li role="menuitem" data-ng-click="addNode('Save Model')"><a>Save Model</a></li>
            <li role="menuitem" data-ng-click="addNode('Run Simulation')"><a>Run Simulation</a></li>
            <li role="menuitem" data-ng-click="addInputs()"><a>Add Input</a></li>
            <li role="menuitem" data-ng-click="addOutputs()"><a>Add Output</a></li>
<!--             <li role="menuitem"><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li role="menuitem"><a href="#">Separated link</a></li> -->
        </ul>
    </div>
    <span ng-if="hashes" class="space-between">Version:</span>
    <select ng-if="hashes" class="form-control input value" ng-options="hash for hash in hashes" ng-model="$parent.currentHash" ng-change="changeHash()">
    </select>
    <div class="btn read-only" ng-show="permission=='read_only' || currentHash && currentHash != hashes[0]" disabled="disabled">Read Only</div>
    <div class="btn read-write" ng-show="permission=='read_write'" disabled="disabled">Read Write</div>
<!--     <script type="text/ng-template" id="nodeOptions.html">
        <div class="pipelinenode-options">
            <ul>
                <li data-ng-click="pipelineNode.addPrecedingConnector()">Add preceding connector</li>
                <li data-ng-click="pipelineNode.addSucceedingConnector()">Add succeeding connector</li>
                <li data-ng-click="pipelineNode.deleteNode()">Delete node</li>
            </ul>
        </div>
    </script> -->
    <script type="text/ng-template" id="nodeInfo.html">
        <div style="padding: 7px; overflow: auto;">
            <p>Type: {{infoNodePopover.node.type}}</p>
            <p>Version: {{infoNodePopover.node.hash}}</p>
        </div>
    </script>
    <script type="text/ng-template" id="contextOptions.html">
        <div class="pipelinenode-options">
            <ul ng-if="contextOptions.obj.input">
                <li data-ng-click="contextOptions.deleteConnectionAndCloseContext('input', contextOptions.obj)">
                    Disconnect {{contextOptions.obj.input.origin.name}}
                </li>
            </ul>
            <ul ng-if="contextOptions.obj.connections">
                <li ng-repeat="elem in contextOptions.obj.connections" data-ng-click="contextOptions.deleteConnectionAndCloseContext('output', contextOptions.obj, $index)">
                    Disconnect {{elem.destination.name}}
                </li>
            </ul>
            <ul ng-if="contextOptions.obj.length && contextOptions.obj[0].destination">
                <li ng-repeat="elem in contextOptions.obj" data-ng-click="contextOptions.deleteConnectionAndCloseContext('successor', contextOptions.obj, $index)">
                    Disconnect {{elem.destination.title}}
                </li>
            </ul>
            <ul ng-if="contextOptions.obj.length && contextOptions.obj[0].origin">
                <li ng-repeat="elem in contextOptions.obj" data-ng-click="contextOptions.deleteConnectionAndCloseContext('predecessor', contextOptions.obj, $index)">
                    Disconnect {{elem.origin.title}}
                </li>
            </ul>
        </div>
    </script>
</div>
<div class="pipeline-container">
    <div class="connections"></div>
    <div class="nodes" data-ui-on-drop="dropHandler($event, $data, $channel)" data-drop-channel="{{acceptedChannels}}" ng-mousemove="mousemove($event);drawpath($event)" ng-mouseup="stopMoving($event)">
        <div class=" node-box input-box" ng-if="pipelineInputs" ng-mousedown="startMoving($event, null, pipelineInputs);" ng-mouseup="maybeStopProp($event)" style="visibility: hidden;">
            <div class="title">
                <span>Inputs</span>
                <div class="icon ion-trash-a" ng-dblclick="deleteInputs($event)"></div>
            </div>
            <div class="inputs_outputs">
                <div class="io-row clearfix" ng-repeat="input in pipelineInputs.outputs">
                    <div class="io-cell"></div>
                    <div class="io-cell" uib-popover-template="contextOptions.template" popover-trigger="none" popover-placement="left" popover-is-open="input.isOpen" ng-context-menu="deleteConnetion($event, input)" popover-append-to-body="true">
                        <span data-ng-hide="input.editionMode" data-ng-dblclick="input.editionMode = true">{{input.name}}</span>
                        <input data-ng-show="input.editionMode" type="text" data-ng-model="input.name" class="form-control input" data-ng-keypress="input.editionMode = $event.which != 13"/>
                        <div class="circle start" ng-mousedown="createStartingConnection($event, input)" ng-mouseup="finishEndingConnection($event, input)"></div>
                    </div>
                </div>
                <div class="io-row clearfix">
                    <div class="io-cell add-inout" data-ng-dblclick="newPipelineInput($event)">
                        <div class="ion-android-add-circle"></div>
                        <span>Add Input</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="node-box output-box" ng-if="pipelineOutputs" ng-mousedown="startMoving($event, null, pipelineOutputs);" ng-mouseup="maybeStopProp($event)" style="visibility: hidden;">
            <div class="title">
                <span>Outputs</span>
                <div class="icon ion-trash-a" ng-dblclick="deleteOutputs($event)"></div>
            </div>
            <div class="inputs_outputs">
                <div class="io-row clearfix" ng-repeat="output in pipelineOutputs.inputs">
                    <div class="io-cell" uib-popover-template="contextOptions.template" popover-trigger="none" popover-placement="right" popover-is-open="output.isOpen" ng-context-menu="deleteConnetion($event, output)" popover-append-to-body="true">
                        <div class="circle end" ng-mousedown="createEndingConnection($event, output)" ng-mouseup="finishStartingConnection($event, output)"></div>
                        <span data-ng-hide="output.editionMode" data-ng-dblclick="output.editionMode = true">{{output.name}}</span>
                        <input data-ng-show="output.editionMode" type="text" data-ng-model="output.name" class="form-control input" data-ng-keypress="output.editionMode = $event.which != 13"/>
                    </div>
                    <div class="io-cell"></div>
                </div>
                <div class="io-row clearfix">
                    <div class="io-cell add-inout" data-ng-dblclick="newPipelineOutput($event)">
                        <div class="ion-android-add-circle"></div>
                        <span>Add Output</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="node-box stdnodes" ng-repeat="nodeInfo in shapes" ng-mousedown="startMoving($event, null, nodeInfo);" ng-mouseup="maybeStopProp($event)" style="visibility: hidden;" uib-popover-template="infoNodePopover.template" popover-title="{{nodeInfo.title}} Info" popover-trigger="none" popover-placement="top" popover-is-open="nodeInfo.infoShown">
            <div class="title">
                <span>{{nodeInfo.title}}</span>
                <div class="icon ion-trash-a" ng-dblclick="deleteNode($event, nodeInfo)"></div>
                <div class="icon ion-information-circled" ng-if="nodeInfo.type != 'special'" ng-click="toggleInfoShown($event, nodeInfo)"></div>
            </div>
            <div class="inputs_outputs">
                <!-- Adding special preceding & succeeding connectors -->
                <div class="io-row clearfix">
                    <div class="io-cell preceding" uib-popover-template="contextOptions.template" popover-trigger="none" popover-placement="left" popover-is-open="nodeInfo.predecessors.isOpen" ng-context-menu="deleteConnetion($event, nodeInfo.predecessors)" popover-append-to-body="true">
                        <div class="circle end" ng-mousedown="createPredecessor($event, nodeInfo)" ng-mouseup="finishSuccessor($event, nodeInfo)"></div>
                        <span>predecessors</span>
                    </div>
                    <div class="io-cell succeeding" uib-popover-template="contextOptions.template" popover-trigger="none" popover-placement="right" popover-is-open="nodeInfo.successors.isOpen" ng-context-menu="deleteConnetion($event, nodeInfo.successors)" popover-append-to-body="true">
                        <span>successors</span>
                        <div class="circle start" ng-mousedown="createSuccessor($event, nodeInfo)" ng-mouseup="finishPredecessor($event, nodeInfo)"></div>
                    </div>
                </div>
                <!-- Adding inputs & outputs -->
                <div class="io-row clearfix" ng-repeat="input in nodeInfo.inputs | limitTo:min(nodeInfo.inputs.length, nodeInfo.outputs.length)">
                    <div class="io-cell" uib-popover-template="contextOptions.template" popover-trigger="none" popover-placement="left" popover-is-open="input.isOpen" ng-context-menu="deleteConnetion($event, input)" popover-append-to-body="true">
                        <div class="circle end" ng-mousedown="createEndingConnection($event, input)" ng-mouseup="finishStartingConnection($event, input)"></div>
                        <span>{{input.name}}</span>
                    </div>
                    <div class="io-cell" uib-popover-template="contextOptions.template" popover-trigger="none" popover-placement="right" popover-is-open="nodeInfo.outputs[$index].isOpen" ng-context-menu="deleteConnetion($event, nodeInfo.outputs[$index])" popover-append-to-body="true">
                        <span>{{nodeInfo.outputs[$index].name}}</span>
                        <div class="circle start" ng-mousedown="createStartingConnection($event, nodeInfo.outputs[$index])" ng-mouseup="finishEndingConnection($event, nodeInfo.outputs[$index])"></div>
                    </div>
                </div>
                <div class="io-row clearfix" ng-repeat="input in nodeInfo.inputs | limitTo:nodeInfo.inputs.length:min(nodeInfo.inputs.length, nodeInfo.outputs.length)">
                    <div class="io-cell" uib-popover-template="contextOptions.template" popover-trigger="none" popover-placement="left" popover-is-open="input.isOpen" ng-context-menu="deleteConnetion($event, input)" popover-append-to-body="true">
                        <div class="circle end" ng-mousedown="createEndingConnection($event, input)" ng-mouseup="finishStartingConnection($event, input)"></div>
                        <span>{{input.name}}</span>
                    </div>
                    <div class="io-cell"></div>
                </div>
                <div class="io-row clearfix" ng-repeat="output in nodeInfo.outputs | limitTo:nodeInfo.outputs.length:min(nodeInfo.inputs.length, nodeInfo.outputs.length)">
                    <div class="io-cell"></div>
                    <div class="io-cell" uib-popover-template="contextOptions.template" popover-trigger="none" popover-placement="right" popover-is-open="output.isOpen" ng-context-menu="deleteConnetion($event, output)" popover-append-to-body="true">
                        <span>{{output.name}}</span>
                        <div class="circle start" ng-mousedown="createStartingConnection($event, output)" ng-mouseup="finishEndingConnection($event, output)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="permission == 'read_only' || $scope.currentHash && $scope.currentHash != $scope.hashes[0]" class="overlay"></div>
</div>