<div class="special-pane">
    <!-- TODO -->
    <div class="section">
        <div class="title">Running Tasks</div>
        <div class="content">
            <table class="table">
              <thead>
                <tr>
                    <th>User</th>
                    <th>Request Time</th>
                    <th>Start Time</th>
                    <th>Finish Time</th>
                    <th>Type</th>
                    <th>Task</th>
                    <th>Comment</th>
                    <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat-start="(channelName, metaData) in runningTasks" class="info-view" ng-click="toggleVisibility(metaData)" ng-class="{'content-collapsed': !metaData.isVisible}">
                    <td>{{metaData.user || '-'}}</td>
                    <td uib-tooltip="{{fullDate(metaData.requestTime)}}" tooltip-append-to-body="true">{{relativeDate(metaData.requestTime)}}</td>
                    <td uib-tooltip="{{fullDate(metaData.startTime)}}" tooltip-append-to-body="true">{{relativeDate(metaData.startTime)}}</td>
                    <td uib-tooltip="{{fullDate(metaData.finishTime)}}" tooltip-append-to-body="true">{{relativeDate(metaData.finishTime)}}</td>
                    <td>{{metaData.type || '-'}}</td>
                    <td>{{metaData.task || '-'}}</td>
                    <td class="comment">{{metaData.comment || '-'}}</td>
                    <td>delete</td>
                </tr>
                <tr ng-repeat-end="" class="output-view" ng-if="metaData.isVisible">
                    <td colspan="8" class="output-view">
                        <table>
                            <tbody>
                                <tr>
                                    <th colspan="2">Inputs:</th>
                                </tr>
                                <tr ng-repeat="(inputName, value) in data.data.meta.inputs">
                                    <td>{{inputName}}:</td>
                                    <td>{{value}}</td>
                                </tr>
                                <tr>
                                    <th colspan="2">Outputs:</th>
                                </tr>
                                <tr ng-repeat="(outputName, value) in data.data.meta.outputs">
                                    <td>{{outputName}}:</td>
                                    <td>{{value}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <span>Inputs: {{data.data.meta.inputs}}</span> -->
                        <!-- <span>Outputs: {{data.data.meta.outputs}}</span> -->
                        <span>Output stream:</span>
                        <div>
                            <span ng-repeat-start="res in data.data.transmissions track by $index">{{res}}</span>
                            <br ng-repeat-end="" />
                        </div>
                    </td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
    <div class="section">
        <div class="title">Enqueued Tasks</div>
        <div class="content">
            <table class="table">
              <thead>
                <tr>
                    <th>User</th>
                    <th>Request Time</th>
                    <th>Start Time</th>
                    <th>Finish Time</th>
                    <th>Type</th>
                    <th>Task</th>
                    <th>Comment</th>
                    <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="(channelName, metaData) in enqueuedTasks">
                    <td>{{metaData.user || '-'}}</td>
                    <td uib-tooltip="{{fullDate(metaData.requestTime)}}" tooltip-append-to-body="true">{{relativeDate(metaData.requestTime)}}</td>
                    <td uib-tooltip="{{fullDate(metaData.startTime)}}" tooltip-append-to-body="true">{{relativeDate(metaData.startTime)}}</td>
                    <td uib-tooltip="{{fullDate(metaData.finishTime)}}" tooltip-append-to-body="true">{{relativeDate(metaData.finishTime)}}</td>
                    <td>{{metaData.type || '-'}}</td>
                    <td>{{metaData.task || '-'}}</td>
                    <td class="comment">{{metaData.comment || '-'}}</td>
                    <td>delete</td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
    <div class="section">
        <div class="title">Finished Tasks</div>
        <div class="content">
            <table class="table">
              <thead>
                <tr>
                    <th>User</th>
                    <th>Request Time</th>
                    <th>Start Time</th>
                    <th>Finish Time</th>
                    <th>Type</th>
                    <th>Task</th>
                    <th>Comment</th>
                    <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat-start="(channelName, data) in finishedTasks" class="info-view" ng-click="toggleVisibilityFinished(data)" ng-class="{'content-collapsed': !data.isVisible}">
                    <td>{{data.data.meta.user || '-'}}</td>
                    <td uib-tooltip="{{fullDate(data.data.meta.requestTime)}}" tooltip-append-to-body="true">{{relativeDate(data.data.meta.requestTime)}}</td>
                    <td uib-tooltip="{{fullDate(data.data.meta.startTime)}}" tooltip-append-to-body="true">{{relativeDate(data.data.meta.startTime)}}</td>
                    <td uib-tooltip="{{fullDate(data.data.meta.finishTime)}}" tooltip-append-to-body="true">{{relativeDate(data.data.meta.finishTime)}}</td>
                    <td>{{data.data.meta.type || '-'}}</td>
                    <td>{{data.data.meta.task || '-'}}</td>
                    <td class="comment">{{data.data.meta.comment || '-'}}</td>
                    <td>delete</td>
                </tr>
                <tr ng-repeat-end="" class="output-view" ng-if="data.isVisible">
                    <td colspan="8" class="output-view">
                        <table>
                            <tbody>
                                <tr>
                                    <th colspan="2">Inputs:</th>
                                </tr>
                                <tr ng-repeat="(inputName, value) in data.data.meta.inputs">
                                    <td>{{inputName}}:</td>
                                    <td>{{value}}</td>
                                </tr>
                                <tr>
                                    <th colspan="2">Outputs:</th>
                                </tr>
                                <tr ng-repeat="(outputName, value) in data.data.meta.outputs">
                                    <td>{{outputName}}:</td>
                                    <td>{{value}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <span>Inputs: {{data.data.meta.inputs}}</span> -->
                        <!-- <span>Outputs: {{data.data.meta.outputs}}</span> -->
                        <span>Output stream:</span>
                        <div>
                            <span ng-repeat-start="res in data.data.transmissions track by $index">{{res}}</span>
                            <br ng-repeat-end="" />
                        </div>
                    </td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
</div>